//colors
$color-primary: #6DEDEF;
$color-secondary: #0037ED;
$color-dark-primary: #182060;
$color-dark-secondary: #09102E;
$color-dark-tertiary: #061831;
$color-white: #fff;
$color-black: #000;
$color-gray: #707070;
$color-gray-light: #F1F4FF;
$color-gray-dark: #464C62;
$color-danger: #ED1B24;

$gradient-primary: linear-gradient($color-primary, $color-dark-primary);

//breakpoints
$breakpoint-xs: 390px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xi: 1400px;
$breakpoint-fhd: 1921px;
$breakpoint-2k: 2561px;
$breakpoint-ik: 3341px;
$breakpoint-4k: 3840px;

// $breakpoint-xs: 390px;
// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
// $breakpoint-x: 1200px;
// $breakpoint-xl: 1366x;
// $breakpoint-xi: 1680px;
// $breakpoint-fhd: 1920px;
// $breakpoint-2k: 2560px;
// $breakpoint-4k: 3840px;


//animations
$digital-banner-anim-duration: .25s;
$digital-banner-anim-timing: ease-in;
//animations
$alternative-banner-anim-duration: .25s;
$alternative-banner-anim-timing: ease-in;