@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./Optima-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Optima';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('./Optima-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./Optima-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./Optima-Bold.woff2') format('woff2');
}