.footer {
    position: relative;
    min-height: 225px;
    padding: 16px 0 50px;
    display: flex;
    flex-direction: column;
    background-color: $color-dark-secondary;

    @include media-breakpoint-up(md) {
        padding: 16px 0;
        flex-direction: row;
        align-items: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1397px;
        width: 100%;
        margin: 0 auto;
        padding: 16px;
        flex-wrap: wrap;

        & > :not(:last-child) {
            margin-top: 32px;
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            align-items: center;

            & > :not(:last-child) {
                margin-top: 0;
                margin-right: 16px;
            }
        }

        @include media-breakpoint-up(xi) {
            flex-wrap: nowrap;
        }
    }

    &__logo {
        width: 260px;
        min-width: 260px;
        height: auto;
    }

    &__contact {
        width: 350px;
        min-width: 350px;
    }

    &__contact-row {
        display: flex;
        font-family: 'Optima';
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 1.12px;
        line-height: 1.85;
        color: $color-gray-light;
    }

    &__contact-info {

    }

    &__contact-info-spacer {
        margin: 0 10px;
    }

    &__text-container {
        margin-top: 32px;
        width: 100%;

        @include media-breakpoint-up(xi) {
            max-width: 535px;
            margin-top: 0;
        }
    }

    &__text {
        font-family: 'Optima';
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1.12px;
        line-height: 1.85;
        color: $color-gray-light;

        &--small {
            margin-top: 16px;
            font-size: 10px;
        }
    }

    &__legal-links {
        width: 252px;
        min-width: 252px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-top: 32px;

        & > :first-child {
            margin-bottom: 16px;
        }

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    &__legal-item {
        position: relative;
        display: flex;
        align-items: center;
        height: 36px;

        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-white;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 36px;
            width: 18px;
            border: 1px solid $color-white;
            border-right: none;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
        }
    }

    &__legal-link {
        &,
        &:link,
        &:visited {
            width: 115px;
            font-family: 'Optima';
            font-weight: 400;
            font-size: 13px;
            letter-spacing: 1.68px;
            line-height: 1.85;
            text-transform: uppercase;
            text-decoration: none;
            text-align: right;
            color: $color-primary;
        }
    }
}