.about-banner {
    display: grid;
    min-height: 100vh;
    
    &__main {
        z-index: 1;
        background-color: $color-dark-secondary;
    }

    &__content {
        position: absolute;
        margin-top: 100px;
        max-width: 1242px;
        margin-left: auto;
        padding-left: 16px;
        overflow: hidden;

        @include media-breakpoint-up(sm) {
            padding-top: 24px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 120px;
            overflow: visible;
        }

        @include media-breakpoint-up(xl) {
            height: 535px;
            padding-top: 0;
        }

        @include media-breakpoint-up(xi) {
            margin-top: 170px;
        }

        @include media-breakpoint-up(1600) {
            height: 720px;
        }
    }

    &__title {
        font-family: 'Ivy Mode';
        font-size: 90px;
        line-height: 1.11;
        letter-spacing: 5.4px;
        font-weight: 400;
        color: $color-white;
        margin-top: 15%;
        text-align: center;
    }
}

.about-section {
    &__title {
        font-family: 'Ivy Mode';
        font-size: 90px;
        line-height: 1.11;
        letter-spacing: 5.4px;
        font-weight: 400;
        color: #182060;
        margin-bottom: 5%;
        text-align: left;
        padding-left: 150px;
        grid-template-columns: 1fr;
    }
    &__text {
        font-family: 'Optima';
        font-size: 20px;
        line-height: 1.11;
        letter-spacing: 5.4px;
        font-weight: 400;
        color: #182060;
        text-align: left;
        padding-left: 150px;
        grid-template-columns: 1fr;
        margin-bottom: 10%;
    }
    &__small-title{
        font-family: 'Optima';
        font-weight: bold;
    } 
    &__contact {    
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        margin-right: 100px;  
        margin-top: 8%;
  
    }
    &__column {
        width: 40%;

    }
    &__column2 {
        width: 60%;
        img {
            width:100%;
        }

    }


}