::-webkit-scrollbar {
    display: none;
}


.privacy-banner {
    display: grid;
    grid-template-columns: 1fr;

    @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 350px;
        height: 660px;
    }
    
    @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 400px;
    }

    @include media-breakpoint-up(xi) {
        grid-template-columns: 1fr 550px;
    }

    @include media-breakpoint-up(fhd) {
        grid-template-columns: 1fr 800px;
        height: 990px;
    }

    @include media-breakpoint-up(tk) {
        grid-template-columns: 1fr 1100px;
        height: 1320px;
    }
    
    &__main {
        display: flex;
        align-items: center;
        z-index: 1;
        min-height: 400px;
        background-color: $color-dark-secondary;

        @include media-breakpoint-up(lg) {
            min-height: unset;
        }
    }

    &__content {
        position: relative;
        margin-top: 100px;
        padding: 0 15px;
        max-width: 1000px;
        width: 100%;
        margin-left: auto;

        @include media-breakpoint-up(lg) {
            padding: 0;
        }

        @include media-breakpoint-up(fhd) {
            max-width: 1560px;
        }

        @include media-breakpoint-up(tk) {
            max-width: 2240px;
        }
    }

    &__title {
        font-family: 'Ivy Mode';
        font-size: 45px;
        line-height: 1.11;
        letter-spacing: 5.4px;
        font-weight: 400;
        color: $color-white;

        @include media-breakpoint-up(md) {
            font-size: 72px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 65px;
        }

        @include media-breakpoint-up(xi) {
            font-size: 90px;
        }

        @include media-breakpoint-up(fhd) {
            font-size: 135px;
            letter-spacing: 7.2px;
        }

        @include media-breakpoint-up(tk) {
            font-size: 180px;
            letter-spacing: 10.8px;
        }
    }

    &__links {
        border: 0;
        margin-left: auto;
        margin-top: 24px;
        width: min-content;

        & > :first-child {
            margin-bottom: 24px;
        }

        @include media-breakpoint-up(md) {
            margin-top: 0;
            position: absolute;
            right: 0px;
            bottom: 10px;
            

        }
    }

    &__secondary {
        position: relative;
        max-height: 100%;
        height: 350px;
        overflow: visible;

        @include media-breakpoint-up(lg) {
            height: unset;
        }

        &::before {
            content: "";
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: $color-white;

            @include media-breakpoint-up(lg) {
                display: block;
            }

            @include media-breakpoint-up(xl) {
                height: 170px;
            }
        }
    }
    
    &__secondary-background {
        @include pos-abs-cover;
        
        @include media-breakpoint-up(lg) {
            top: 100px;
        }

        @include media-breakpoint-up(xi) {
            top: 170px;
        }

        @include media-breakpoint-up(fhd) {
            top: 220px;
        }

        @include media-breakpoint-up(tk) {
            top: 300px;
        }
    }
}


.privacy-section {

    &__title {
        font-family: "Ivy Mode";
        color: $color-secondary;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1.6px;
        line-height: 1.68;
        margin-bottom: 40px;

        @include media-breakpoint-up(fhd) {
            font-size: 45px;
            letter-spacing: 2.4px;
          }
    
          @include media-breakpoint-up(tk) {
            font-size: 60px;
            letter-spacing: 3.2px;
          }
    }

    &__content {
        font-family: 'Optima';
        font-size: 16px;
        letter-spacing: 1.28px;
        line-height: 1.5625;
        color: $color-gray-dark;
        font-weight: 400;
        max-width: 1450px;
        margin: 0 auto;
        padding: 210px 15px 120px;

        @include media-breakpoint-up(fhd) {
            padding: 315px 22px 180px;
            font-size: 24px;
            max-width: 2170px;
            letter-spacing: 1.9px;
        }

        @include media-breakpoint-up(tk) {
            padding: 420px 30px 240px;
            font-size: 32px;
            max-width: 2900px;
            letter-spacing: 2.5px;
        }

    }
    &__h {
        color: $color-secondary;
        font-weight: bold;
    }
}