.weekend-content {
  &__banner {
    min-height: 390px;
    background-image: url('../../assets/images/bg-weekend-notes.png');
    background-size: cover;
    background-position: center;

    @include media-breakpoint-up(fhd) {
      min-height: 485px;
    }

    @include media-breakpoint-up(tk) {
      min-height: 780px;
    }
  }

  &__row {
    margin-top: -170px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  &__left-panel {
    width: 100%;
    height: 600px;
    max-height: 600px;
    background-color: $color-dark-primary;
    position: relative;
      overflow-x: hidden;
      overflow-y: hidden;

    & > img {
      width: 500px;
      margin-left: -90px;
    }

    @include media-breakpoint-up(lg) {
      width: 500px;
      overflow-x: initial;
      overflow-y: initial;
    }

    @include media-breakpoint-up(fhd) {
      width: 750px;
      height: 900px;
      max-height: 900px;

      & > img {
        width: 750px;
      }
    }

    @include media-breakpoint-up(tk) {
      width: 1000px;
      height: 1200px;
      max-height: 1200px;

      & > img {
        width: 1000px;
      }
    }
  }

  &__content {
    width: 100%;
    display: none;
    text-decoration: none;

    @include media-breakpoint-up(lg) {
      width: calc(100% - 590px);
    }

    &--active {
      display: block;
    }
  }

  &__left-panel-links {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__selector {
    position: relative;
    font-family: 'Optima';
    width: min-content;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.68px;
    line-height: 1.85;
    text-transform: uppercase;
    cursor: pointer;
    color: $color-white;
    white-space: nowrap;

    @include media-breakpoint-up(fhd) {
      font-size: 21px;
      letter-spacing: 2.1px;
    }

    @include media-breakpoint-up(tk) {
      font-size: 28px;
      letter-spacing: 3.2px;
    }

    & > span {
        display: block;
        margin-right: 60px;
        opacity: 1;
        transition: opacity $alternative-banner-anim-duration $alternative-banner-anim-timing;

        @include media-breakpoint-up(xi) {
            margin-right: 95px;
        }         

        @include media-breakpoint-up(fhd) {
          margin-right: 120px;
        }

        @include media-breakpoint-up(tk) {
          margin-right: 150px;
        }

        a {
          text-decoration: none;
          color: $color-white;
        }
    }

    &--active {
      display: none;
    }

    &--title {
      margin-top: 120px;
      .alternative-banner__selector-button {
        background-color: $color-dark-primary;
        &::after {
          left: 32px !important;
        }
      }
    }
    &--media {
      margin-top: 80px;

      @include media-breakpoint-up(fhd) {
        margin-top: 120px;
      }

      @include media-breakpoint-up(tk) {
        margin-top: 160px;
      }
    }
    &--press {
      margin-top: 80px;

      @include media-breakpoint-up(fhd) {
        margin-top: 120px;
      }

      @include media-breakpoint-up(tk) {
        margin-top: 160px;
      }
    }
    &--podcasts {
      margin-top: 80px;

      @include media-breakpoint-up(fhd) {
        margin-top: 120px;
      }

      @include media-breakpoint-up(tk) {
        margin-top: 160px;
      }
    }
    &--resources {
      margin-top: 80px;

      @include media-breakpoint-up(fhd) {
        margin-top: 120px;
      }

      @include media-breakpoint-up(tk) {
        margin-top: 160px;
      }
    }
    &--weekend {
      margin-top: 80px;

      @include media-breakpoint-up(fhd) {
        margin-top: 120px;
      }

      @include media-breakpoint-up(tk) {
        margin-top: 160px;
      }
    }
  }

  &__selector-button {
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: $color-dark-primary;
    border-radius: 100%;
    right: -21px;
    top: 50%;
    transform: translateY(-50%);

    // &--active {
    //   background-color: $color-dark-primary;
    // }

    &::before {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $color-primary;
        border-radius: 100%;
        transition: border-color $digital-banner-anim-duration $digital-banner-anim-timing;
    }
    
    &--active::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $color-primary;
      border-radius: 100%;
      transition: border-color $digital-banner-anim-duration $digital-banner-anim-timing;
    }

    &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: $color-primary;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        transition: left $digital-banner-anim-duration $digital-banner-anim-timing, background-color $digital-banner-anim-duration $digital-banner-anim-timing;
    }
    &--active::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: $color-primary;
        top: 50%;
        transform: translateY(-50%);
        left: 32px !important;
        transition: left $digital-banner-anim-duration $digital-banner-anim-timing, background-color $digital-banner-anim-duration $digital-banner-anim-timing;
      
      @include media-breakpoint-up(fhd) {
        left: 48px !important;
      }
      
      @include media-breakpoint-up(tk) {
        left: 64px !important;
      }
    }

    @include media-breakpoint-up(xi) {
        &::after {
            width: 65px;
            left: -55px;
        }   
    }
    @include media-breakpoint-up(fhd) {
        width: 60px;
        height: 60px;


        &::before {
            border-width: 2px;
            width: 36px;
            height: 36px;
        }

        &::after {
            width: 75px;
            left: -60px;
            height: 2px;
        }
    }

  @include media-breakpoint-up(tk) {
      width: 80px;
      height: 80px;
      right: -40px;

      &::before {
          border-width: 3px;
          width: 48px;
          height: 48px;
      }

      &::after {
          width: 95px;
          left: -80px;
          height: 3px;
      }
    }

}

  &__title-active {
    padding: 0px 20px;
    margin: 0px;
    font-size: 80px;
    font-family: 'Ivy Mode';
    color: $color-dark-primary;
    letter-spacing: 5.4px;

    @include media-breakpoint-up(lg) {
      padding-left: 100px;
    }

    @include media-breakpoint-up(fhd) {
      font-size: 120px;
      letter-spacing: 8px;
      padding-left: 150px;
    }
    @include media-breakpoint-up(tk) {
      font-size: 120px;
      letter-spacing: 10.8px;
      padding-left: 200px;
    }

    &--white {
      margin-top: 70px;
      margin-bottom: 0px;
      color: black;

      @include media-breakpoint-up(lg) {
        color: $color-white;
      }

      @include media-breakpoint-up(fhd) {
        margin-top: 20px;
      }

      @include media-breakpoint-up(tk) {
        margin-top: 20px;
      }
    }
  }

  &__weekend-text {
    padding: 20px;
    margin-top: 55px;
    font-family: 'Optima';
    color: #09102E;
    line-height: 1.5625;
    letter-spacing: 1.28px;
    font-size: 16px;

    @include media-breakpoint-up(xl) {
      padding-left: 100px;
      padding-right: 70px;
    }

    @include media-breakpoint-up(fhd) {
      font-size: 24px;
      letter-spacing: 1.9px;
      padding: 30px 105px 30px 150px;
    }

    @include media-breakpoint-up(tk) {
      font-size: 32px;
      letter-spacing: 2.5px;
      padding: 40px 140px 40px 200px;
    }
  }

  &__article {    
    margin-top: 30px;
    
    @include media-breakpoint-up(lg) {
      margin-top: 12%;
    }
  }

  &__article-paraghraph {
    padding: 0px 20px;
    margin-top: 30px;
    font-family: 'Optima';
    font-size: 16px;
    color: #09102E;
    line-height: 1.5625;
    font-weight: normal;
    letter-spacing: 1.28px;

    @include media-breakpoint-up(lg) {
      padding-left: 100px;
      padding-right: 70px;
    }

    @include media-breakpoint-up(fhd) {
      padding-left: 150px;
      padding-right: 105px;
      font-size: 24px;
      letter-spacing: 1.9px;
    }

    @include media-breakpoint-up(tk) {
      padding-left: 200px;
      padding-right: 140px;
      font-size: 32px;
      letter-spacing: 2.5px;
    }
  }

  &__article-link {
    padding: 0px 20px;
    margin-top: 30px;
    font-family: 'Optima';
    font-size: 16px;
    color: $color-primary;
    line-height: 1.5625;
    letter-spacing: 1.68px;
    font-weight: bold;
    text-decoration: none;
    display: block;

    @include media-breakpoint-up(lg) {
      padding-left: 100px;
      padding-right: 70px;
    }

    @include media-breakpoint-up(fhd) {
      padding-left: 150px;
      padding-right: 105px;
      font-size: 24px;
      letter-spacing: 2.5px;
    }

    @include media-breakpoint-up(tk) {
      padding-left: 200px;
      padding-right: 140px;
      font-size: 32px;
      letter-spacing: 3.3px;
    }
  }

  &__article-title {
    padding: 0px 20px;
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 1.92px;
    font-size: 24px;
    font-family: 'Optima';
    color: $color-dark-primary;

    @include media-breakpoint-up(lg) {
      padding-left: 100px;
      padding-right: 70px;
    }

    @include media-breakpoint-up(fhd) {
      padding-left: 150px;
      padding-right: 105px;
      font-size: 36px;
      letter-spacing: 2.8x;
    }

    @include media-breakpoint-up(tk) {
      padding-left: 200px;
      padding-right: 140px;
      font-size: 48px;
      letter-spacing: 3.9px;
    }
  }

  &__article-date {
    padding: 0px 20px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Optima';
    font-size: 16px;
    letter-spacing: 0.64px;
    color: $color-primary;

    @include media-breakpoint-up(lg) {
      padding-left: 100px;
      padding-right: 70px;
    }

    @include media-breakpoint-up(fhd) {
      padding-left: 150px;
      padding-right: 105px;
      font-size: 24px;
      letter-spacing: 1px;
    }

    @include media-breakpoint-up(tk) {
      padding-left: 200px;
      padding-right: 140px;
      font-size: 32px;
      letter-spacing: 1.3px;
    }
  }
  
  &__weekend-row {
    padding-left: 20px;
    padding-right: 0px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      padding-left: 100px;
    }

    @include media-breakpoint-up(fhd) {
      padding-left: 150px;
    }

    @include media-breakpoint-up(tk) {
      padding-left: 200px;
    }

    &--vertical {
      flex-direction: column;
      margin-top: -180px;
      .weekend-content__weekend-column {
        margin-top: 50px !important;
        width: 80% !important;
        margin-left: 10% !important;
        text-decoration: none;
      }
    }
  }

  &__weekend-column {
    min-width: calc(100% / 3);
    padding: 0px 30px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.28px;
    font-family: 'Optima';
    color: $color-dark-primary;
    line-height: 1.5625;
    margin-top: 50px;
    margin-bottom: 0;
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: calc(100% / 3);
      margin-top: 90px;
    }
    img {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    @include media-breakpoint-up(fhd) {
      font-size: 24px;
      letter-spacing: 1.9px;
    }

    @include media-breakpoint-up(tk) {
      font-size: 32px;
      letter-spacing: 2.5px;
    }

    &--active {
      position: relative;
      &::after {
          content: "";
          position: absolute;
          width: 100px;
          height: 1px;
          background-color: $color-primary;
          top: 10%;
          transform: translateY(-50%);
          right: -100px;
          transition: left $digital-banner-anim-duration $digital-banner-anim-timing, background-color $digital-banner-anim-duration $digital-banner-anim-timing;
    }
  }
  }

  .pink-link {
    color: $color-primary;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    text-decoration: none;

    &--card {
      margin-top: 15px;
    }
  }

  &__card-text {
    font-weight: normal;
  }
}